body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-image: url("background.jpg");
}
#bloc_page{
    display: flex;
    width: 100%
}

#header{

}
.menu_gobal, .menu_admin{
    display: flex;
}
.menu_gobal a, .menu_admin a { 
    height: auto;
    font-size: 1.5em;
    font-family: "Courier new";
    font-weight: normal;
    color: white;
    text-decoration: none;
}
.menu_gobal a:hover, .menu_admin a:hover { 

    font-weight: bold;
    color: white;
    text-decoration: none;
}
#content{
    background-color: white;
    box-shadow: 6px 6px 6px black;
    
}
#backToTopButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
  }
  #backToTopButton:hover {
    background-color: white;
    color: grey;
  }
  #website_mainTitle{
    font-family: "Courier new";
  }
  #website_subTitle{
    font-family: "Courier new";
  }
  .book_chapterDiv_Title a, #book_chapterDiv_Title{
    color: black;
    font-size: 25px;
    font-family: "Courier new";

  }
  #book_chapterDiv_Date {
    font-family: "Courier new";
  }
  .book_chapterDiv_Title, #book_chapterDiv_Title, #book_chapterDiv_Date {
    text-align: center;
  }
  #breadcrumbs {

  }
  #secure {
    text-align: center;
  }
  #commentModerator_Table {
    background-color: beige;
    border-collapse: collapse;
  }
  .commentModerator_Table_Items_Delete a {
    text-decoration: none;
    color: red;
  }
  .commentModerator_Table_Items_UnFlag a {
    text-decoration: none;
    color: green;
  }
  #commentModerator_Table_Labels th, .commentModerator_Table_Items, td {
    height: 25px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
  }
  footer{
    color: whitesmoke;
    font-family: "Courier new";
    width: 100%;
    font-size: 1em;
    text-align: center;
    left: 0px;
    bottom: 0px;
  }
  
/* Media queries */
@media screen and (max-width: 480px) {
    #bloc_page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content {
        width: 95%;
    }
    .menu_gobal, .menu_admin{
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: space-between;
        padding-left: 0;
        margin: auto;
    }
    .menu_gobal a, .menu_admin a {
      margin-left: 10px;
    }
    #content{
      margin-top: 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      background-color: white;
      box-shadow: 6px 6px 6px black;
      
  }
    #header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    #logo {
      
    }
    #table_container {
      overflow-x:auto;
    
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #bloc_page{
    flex-direction: row;
    justify-content: space-between;
  } 
}

@media screen and (min-width: 769px) {
    #bloc_page{
        flex-direction: row;
        justify-content: space-between;
    }
    #content{
        padding-top: 1em;
        width: 100%;
    }
    .menu_gobal, .menu_admin{
        flex-direction: column;
        list-style-type: none;
        padding-left: 8%;
    }
}
